main{
    text-align: left;
    padding: 25px;
    background: #1A1B21;
    color:#DCDCDC;
    height: auto;
}
main div{
    margin-bottom: 25px;;
}
main div h1{
   
   font-weight: 700;
}
main div p{
    
     font-weight: 400;
}